

/**************** HEADER *************/
header {
    display: block;
}

.header-img-cont {
    display: block;
    text-align: center;
}

.header-img {
    margin: auto;
}

/************* SECTION - start ****************/

.section-p-cont {
    display: block;
}

.section-p {
    text-align: center;
    margin: auto;
}

/* Article 1 */
article {
    display: block;
}

.article-1 {
    background-color: rgb(211, 211, 211, 0.4);
    margin: 0 5% 2px 5%;
}

.section-input-cont {
    display: block;
    text-align: center;
}

.section-btn-cont {
    display: block;
    text-align: center;
}

/* Article 2 */

.article-2 {
    display: flex;
    margin: 0 5% 0 5%;
}

/* box - 1 */

.article-2-box-1 {
    display: block;
    background-color: #7EE5DA;
    width: 40%;
    margin-right: 2px;
    padding: 11px 0;
}

.section-box-1-p {
    font-size: 102%;
    text-align: center;
    margin: auto;
}

.section-box-1-a {
    display: block;
    text-align: center;
}


/* box - 2 */
.article-2-box-2 {
    display: block;
    background-color: #70CCC2;
    width: 20%;
    margin: 0;
    padding: 7px 0;
}

.section-box-2-a {
    display: block;
    text-align: center;
    font-size: 84%;
}


/* box - 3 */
.article-2-box-3 {
    display: block;
    background-color: #62B3AA;
    width: 40%;
    margin-left: 2px;
    padding: 3px;
}

.section-box-3-p {
    display: block;
    margin: auto;
    font-size: 80%;
    text-align: center;
}

.section-box-3-textarea-cont {
    display: block;
    text-align: center;
}

.section-box-3-btn-a-cont {
    text-align: center;
}

.section-box-3-a {
    font-size: 80%;
}

/************* SECTION - end ****************/

/************* FOOTER - start ****************/

footer {
    display: block;
}

.footer-p {
    font-size: 81%;
    text-align: center;
    margin: 18px 0 0 0;
}